<div class="container">


    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <img src="assets/frodo.png" />
        </div>
        <div class="col-md-4"></div>
    </div>


    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 ng-click="about" >ABOUT FRODO</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <p>
                Frodo Baggins is a fictional character in J. R. R. Tolkien's legendarium, and is the main protagonist of The Lord of the Rings. Frodo is a hobbit of the Shire who inherits the One Ring from his cousin Bilbo Baggins and undertakes the quest to destroy
                it in the fires of Mount Doom. He is also mentioned in Tolkien's posthumously published works, The Silmarillion and Unfinished Tales.
            </p><span><a href ng-click="about = !about">Read More</a></span>
            <div ng-show="about">
                This is what i'm hiding and showing.
            </div>
        </div>

    </div>

    <div class="row">

    </div>
</div>
