<div class="container">


    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <img src="assets/indiana-jones.jpg" />
        </div>
        <div class="col-md-4"></div>
    </div>


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>ABOUT INDIANA JONES</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <p ng-hide="about">
                This article is about the character. For the entertainment franchise, see Indiana Jones (franchise). For other uses, see Indiana Jones (disambiguation). Indiana Jones Indiana Jones character Indiana Jones in Raiders
                of the Lost Ark.jpg Harrison Ford as Indiana Jones in Raiders of the Lost Ark...
            </p><span><a ng-hide="about" href ng-click="about = !about">Read More</a></span>
            <span><a ng-show="about" ng-click="about = !about">Read less</a></span>
            <div ng-show="about">
                From Wikipedia, the free encyclopedia This article is about the character. For the entertainment franchise, see Indiana Jones (franchise). For other uses, see Indiana Jones (disambiguation). Indiana Jones Indiana Jones character Indiana Jones in Raiders
                of the Lost Ark.jpg Harrison Ford as Indiana Jones in Raiders of the Lost Ark First appearance Raiders of the Lost Ark (1981) Last appearance Kingdom of the Crystal Skull (2008) Created by George Lucas Portrayed by Films: Harrison Ford
                (ages 36–58) River Phoenix (age 13) TV series: Neil "Boulie" Boulane (baby) Boutalat (toddler) Corey Carrier (ages 8–10) Sean Patrick Flanery (ages 16–21) Harrison Ford (age 50) George Hall (age 93) Voiced by Video games: Doug Lee (Emperor´s
                Tomb) David Esch (Esch) John Armstrong (Staff of Kings) Information Full name Henry Walton Jones Jr. Nickname(s) Doctor Jones Indy Junior Henri Defense[1] Mungo Kidogo[2] Captain Dynamite, Scourge of the Kaiser[2] Jonesy[3][4][5] Occupation
                Archaeologist Historian College Professor Title Doctor (Ph.D.) Colonel (U.S. Army) Family Henry Walton Jones, Sr. (father) (deceased) Anna Mary Jones (mother) (deceased) Susie Jones (sister deceased)[6] Spouse(s) Deirdre Campbell Jones
                (1926)[7] Marion Ravenwood Jones (1957–present) Children Susan Jones (daughter) Henry Walton "Mutt" Jones III (son) [8] Religion Catholic (nominal)[9] Nationality American Indiana Jones is a fictional character and the protagonist of the
                Indiana Jones franchise. George Lucas created the character in homage to the action heroes of 1930s film serials. The character first appeared in the 1981 film Raiders of the Lost Ark, to be followed by Indiana Jones and the Temple of
                Doom in 1984, Indiana Jones and the Last Crusade in 1989, The Young Indiana Jones Chronicles from 1992 to 1996, and Indiana Jones and the Kingdom of the Crystal Skull in 2008. The character is also featured in novels, comics, video games,
                and other media. Jones is also featured in the Disney theme park attraction, Indiana Jones Adventure at Disneyland and Tokyo DisneySea, as well as the Disneyland Paris attraction Indiana Jones et le Temple du Péril. Jones is most famously
                played by Harrison Ford and has also been portrayed by River Phoenix (as the young Jones in The Last Crusade) and in the television series The Young Indiana Jones Chronicles by Corey Carrier, Sean Patrick Flanery, and George Hall. Doug
                Lee has supplied the voice of Jones for two LucasArts video games, Indiana Jones and the Fate of Atlantis and Indiana Jones and the Infernal Machine, David Esch supplied his voice for Indiana Jones and the Emperor's Tomb, and John Armstrong
                for Indiana Jones and the Staff of Kings.[10] The character is distinguished by his appearance (bullwhip, fedora, satchel[11][12] and leather jacket), sense of humor, deep knowledge of many ancient civilizations and languages, and fear
                of snakes. Since his first appearance in Raiders of the Lost Ark, Indiana Jones has become one of cinema's most famous characters. In 2003, the American Film Institute ranked him the second greatest film hero of all time.[13] He was also
                named the 6th Greatest Movie Character by Empire magazine.[14] Entertainment Weekly ranked Indy 2nd on their list of The All-Time Coolest Heroes in Pop Culture.[15] Premiere magazine also placed Indy at number 7 on their list of The 100
                Greatest Movie Characters of All Time.[16]
            </div>

        </div>

    </div>

    <div class="row">

    </div>
</div>
